## This file must *NOT* be checked into Version Control Systems,
## as it contains information specific to your local installation.
##
## Location of the SDK. This is only used by Gradle.
## For customization when using a Version Control System, please read the
## header note.
sdk.dir=/path/to/your/Android/sdk

# Example locations:
# Windows: C\:\\Users\\username\\AppData\\Local\\Android\\Sdk
# Mac:     /Users/username/Library/Android/sdk
# Linux:   /home/username/Android/Sdk
